
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {  
  --color-primary:#863F04;  
}



body {
  margin: 0;
  font-family: Arial, sans-serif,;
  background-color:#ffffff;
  ;
  transition-property: opacity, background, transform, filter, z-index;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left {
  animation: slide-left 0.5s ease-in-out;
}

.slide-right {
  animation: slide-right 0.5s ease-in-out;
}
.desktop{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.mobile {
  width: 95%;
}
.page-transition {
  opacity: 0;
  background: #d1d5db;
  transform: translateY(40px);
  filter: blur(5px);
  z-index: 10;
  
}
/* In your global CSS or a relevant CSS file */
.hide-placeholder::placeholder {
  opacity: 0;
}

.hide-placeholder:focus::placeholder {
  opacity: 1;
}
.hide {
  display:none;
}

.slider {
  width: 100%;
  height: 2px;
  background-color: #cdd9ed;
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider .thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #863F04;
  border-radius: 50%;
  border: 2px solid #863F04;
  top: -9px;
}
.track-1 {
  background-color: #863F04;
  height: 100%;
}
/* bg-orange-400 rounded-lg max-md:rounded-[3px] py-5 w-[50%] items-center flex relative justify-center overflow-hidden transition duration-300 ease-out group/box text-white */
/* bg-white rounded-lg max-md:rounded-[3px] py-5 w-[30%] items-center flex relative justify-center overflow-hidden transition duration-300 ease-out group/box text-orange-400 border border-orange-400 */
.AddtoCart {  
  border-radius: 2px ;
  padding-top: 1.25rem; 
  padding-bottom: 1.25rem;
  align-items: center;  
  display:flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;  
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);  


}
th,td {
  border: 1px solid #ffffff; /* White lines for separation */
  padding: 3px;
  text-align: left;

  font-weight: 400;
}

th {

  color: #ffffff;
}
